body {
    text-align: center;
    font-family: Arial;
    padding-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#colorText {
    font-size: 20px;
    margin-top: 20px;
}
